body
{
    font-family: monospace-sans, Tahoma, Verdana, Helvetica, Sans-Serif;
    font-size: 12pt;
    background-color: #FFFFFF;
    padding: 0px;
}
pre
{
    font-family: Tahoma, Verdana, Helvetica, Sans-Serif;
    font-size: 12pt;
}	
a:link {color: #36C; text-decoration: none;}
a:visited {color: #428; text-decoration: none;}
a:hover {color: #3C6; text-decoration: none;}
a.nav:link {color: #36C; text-decoration: none;}
a.nav:visited {color: #36C; text-decoration: none;}
a.nav:hover {color: #3C6; text-decoration: none;}
a.bork:link {color: #C33; text-decoration: none;}
a.bork:visited {color: #C33; text-decoration: none;}
a.bork:hover {color: #777; text-decoration: none;}
a.navsym:link {color: #000; text-decoration: none;}
a.navsym:visited {color: #000; text-decoration: none;}
a.navsym:hover {color: #3C6; text-decoration: none; fill: #3C6}

img.profile
{
     border-right: 0px white solid;
     float: left;
}
#HeaderWrapper
{
//     width: 460px;
//     height: 83px;
     margin: 0px auto;
     //margin-left: 20px auto;
     padding: 0px;
}
.Subtitle
{
    height: 24px;
    margin: auto;
    width: fit-content;
    font-size: 16px;
    font-variant: small-caps;
    font-weight: 420;
/*    font-style:oblique;*/
    text-align: left;
    padding: 0px;
    margin-top: 4px;
    margin-bottom: -4px;
}
#wrapper
{
    margin-top: 0px;
}
#wrapper div
{
    padding: 0px;
//    float: left;
}
#Header
{
     font-size: 0;
     text-align: left;
    width:fit-content;
//     width: 220px;
//     height: 83px;
     margin: 0px auto;
     padding: 0px;
}
#Header2
{
     font-size: 20px;
     font-variant: small-caps;
     font-weight: 420;
     font-style:oblique;
     text-align: left;
     width: 240px;
     height: 68px;
     margin: 0px auto;
     margin-top: 15px;
     padding: 0px;
}
#Background
{
     //width: 976px;
     width: 1140px;
     height: 480px;
     margin: 0px auto;
     padding: 0px;
}
#content
{
    margin-top: 0px;
}
.content
{
    padding: 0px;
    float: left;
}
.Navigation
{
     text-align: center;
     font-size: 26px;
     width: 814px;
     height: 32px;
     margin: 0px auto;
//     border-bottom: 1px solid #000000;
     padding: 0px;
     position:relative;
    display:flex;
}
.divider
{
    width: 100%;
    height: 1px;
    background: black;
}
.NavSide
{
    flex-grow: 1;
    flex-basis: 0;
}
.NavLL
{
    font-size: 13px;
    float: left;
    display: inline;
    position: absolute;
    left: 0px;
    text-align:left;
    margin-left:1px;
}
.NavL
{
    float:right;
    font-size: 0px;
}
.NavC
{
    font-size: 0px;
}
.NavR
{
    float:left;
    font-size: 0px;
}
.NavRR
{
    margin-right: 1px;
    font-size: 13px;
    text-align: right;
    float: right;
    display: inline;
    position: absolute;
    right: 0px;
}
.PixelWrap
{
    margin: 1px;
    display: inline-block;
}
.SmallTextWrap
{
    font-size: 13px;
    margin-top: 2px;
    margin-bottom: 2px;
    margin-left: 1px;
    margin-right: 1px;
}
.BigTextWrap
{
    font-size: 26px;
    margin-top: 5px;
    margin-bottom: 5px;
    margin-left: 1px;
    margin-right: 1px;
}

.SearchWrap
{
    margin:2px;
}

.AuthorHelpWrap
{
    font-size: 26px;
    width: 26px;
    height: 26px;
    margin-top: 3px;
    margin-right: 3px;
    border: 1px solid black;
    text-align: center;
    position: relative;
    color:#36C;
}
.AuthorHelpDropdown
{
font-size: 26px;
display: none;
position: absolute;
top: 28px;
right: -5px;
border: 1px solid black;
z-index: 10;
width: max-content;
padding: 4px;
padding-bottom: 0px;
background: #ffff;
text-align:right;
}

.AuthorHelpWrap:hover .AuthorHelpDropdown
{
display:block;
}

.rss
{
    margin-right: 1px;
    font-size: 0px;
    position: relative; 
}
.rss-dropdown
{
font-size: 26px;
display: none;
position: absolute;
top: 32px;
left: -2px;
border: 1px solid black;
z-index: 10;
width: max-content;
padding: 4px;
padding-bottom: 0px;
background: #ffff;
}

.rss:hover .rss-dropdown
{
display:block;
}

.ForumForm
{
    display:flex;
    align-items:center;
    margin-bottom: 2px;
}

.FooterBlock
{
    text-align: left;
    font-size: 14px;
    width: 806px;
    margin-top:4px;
    margin-left: 4px;
    padding: 0px;
}

#Botad
{
     text-align: center;
     font-size: 26px;
     width: 814px;
     height: 160px;
     margin-left: 43px;
//     margin: 0px auto;
//     border-top: 1px solid #000000;
     padding: 0px;
}
div.SideUnit
{
    float: left;
//     width: 78px;
     width: 160px;
     height: 600px;
//     background-color: #000000;
     border: 1px;// solid #000000;
}
#OuterWrapper
{
    float: left;
     width: 816px;
     border: 1px;// solid #000000;
}
#MainWrapper
{
     width: 814px;
//     height: 580px;
     border: 1px solid #000000;
}
#Main
{
     width: 100%;
     margin-top:2px;
     font-size: 10pt;
     overflow: auto;
}

.ListTable
{
    width: 100%;
}
.ListTable tr td:first-child {
    text-align:left;
}
.ListTable tr td:last-child {
    text-align:right;
}


.AuthorForm {
    margin: 0.5em;
    display: grid;
    grid-template-columns: max-content auto;
    grid-column-gap: 1em;
    grid-row-gap: 0.5em;
}

.AFFormError
{
    padding:2px;
    background: #ccffcc;
}
.AFError
{
    position: relative; 
}
.AFErrorTT
{
color: black;
display: none;
position: absolute;
border: 1px solid black;
z-index: 10;
width: max-content;
padding: 4px;
padding-bottom: 0px;
background: #ffff;
}
.AFEAlignL
{
left: -2px;
}
.AFEAlignR
{
right: 2px;
}

.errorlist {
    margin: 0;
    list-style: none;
    padding-left: 0;
}

.AFError:hover .AFErrorTT
{
display:block;
}



.AuthorFormDivider {
    grid-column: 1 / span 2;
    min-height: 0.5em;
}

.PageFormLinkField {
    display: grid;
    grid-template-columns: auto max-content max-content;
    grid-column-gap: 0.5em;
    grid-row-gap: 0.5em;
}

.AFLabel {
    border: 1px solid black;
    padding: 4px;
    align-self: stretch;
    justify-self: stretch;
    display: flex;
    align-items: center;
    justify-content: right;
}

.AFField {
}

.AuthorForm input[type=text]
{
    width: 100%;
    box-sizing: border-box;
}
.AuthorForm textarea
{
    width: 100%;
    box-sizing: border-box;
}
