{% extends "comic/base.html" %}

{% block center_links %}
<div class = "BigTextWrap">
Author Login
</div>
{% endblock %}



{% block body %}

{% if form.errors %}
<p>Your username and password didn't match. Please try again.</p>
{% endif %}

{% if next %}
    {% if user.is_authenticated %}
    <p>Your account doesn't have access to this page. To proceed,
    please login with an account that has access.</p>
    {% else %}
    <p>Please login to see this page.</p>
    {% endif %}
{% endif %}

<form method="post" action="{% url 'comic:login' %}">
{% csrf_token %}
<center>
{{ form.as_p }}

<input type="submit" value="login">
<input type="hidden" name="next" value="{{ next }}">
</center>
</form>

{% endblock %}


