{% load static %}
<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN"
   "http://www.w3.org/TR/html4/strict.dtd">
<html>
  <head profile="http://www.w3.org/2005/10/profile">

<link rel="icon"
      type="image/gif"
      href="{% static 'comic/favicon.gif' %}">

    <meta content="A webcomic of depression, sarcasm, irony, and ennui. Updates whenever." name=description>
    <meta content="qtje, webcomic, ironic" name=keywords>
    <meta http-equiv="Content-type" content="text/html;charset=UTF-8">
    <link href="{% static 'comic/style.css' %}" type="text/css" rel=stylesheet id = "style1">
    <title>
{% block title %}
    qtjev2
{% endblock %}
    </title>
  </head>
<body>

<div id="HeaderWrapper">
    <div id="Header">
        <a href="{% url 'comic:index' %}"><img src="{% static 'comic/banner.jpg' %}"></a>
    </div> 
<!--<div id="Header2"> A webcomic of depression<br> sarcasm, irony, and ennui</div>-->

<div class="Subtitle" id="Subtitle">An official contination of <i>qtje</i>. <a href="">Learn more</a></div>
</div>

<div id="Background"><div id="content">

<div class="SideUnit">
</div>

<div id="OuterWrapper"> <div id="MainWrapper">

{% if user.is_authenticated %}
<div class="Navigation">
<div class="NavSide">
<div class="NavLL SmallTextWrap">
Hello {{ user }} <br>
<a href="">Logout</a>
</div>
<div class="NavL BigTextWrap">
    <a href="">PAGES</a> l
    <a href="">LINKS</a>
</div>
</div>
<div class="NavC BigTextWrap">
    l <a href="">TEMPLATES</a> l
</div>
<div class="NavSide">
<div class="NavR BigTextWrap">
    <a href="">THEMES</a> l
    <a href="">ALIASES</a>
</div>
</div>
</div>

<div class="divider"></div>
{% endif %}



<!-- Navigation -->

<div class="Navigation" id="topnav">
<!-- Navigation Left Side -->

    <div class="NavSide">

        <div class="NavLL">

            <!-- RSS Feed -->
            <div class ="rss">
                <a href = "rss.xml">
                <img src = "{% static 'comic/rss.png' %}" style="float:left;"/>
                </a>
                <div class="rss-dropdown">
                    <a href="rss.xml">Main RSS Feed</a><br>
                    {% block extra_rss_links %}
                    {% endblock %}
                </div>
            </div>

        </div>

        <div class="NavL">
        {% block left_links %}
        {% endblock %}
         </div>

    </div>

    <div class="NavC">
    {% block center_links %}
    {% endblock %}
    </div>

    <div class = "NavSide">
        <div class="NavR">
        {% block right_links %}
        {% endblock %}
        </div>

        <!-- Next Update -->
        <div class="NavRR">
            {% block nav_right %}
            Test:<br>Test
            {% endblock %}
        </div>
    </div>

</div>

<div class="divider"></div>

<!-- Main Body -->

<div id="Main">
<center>
{% block body %}
{% endblock %}
</center>
</div>


<!-- Bottom Bar -->
<div class="divider"></div>

<div class="Navigation" id="metanav">

<!-- Story Arc -->

    <div class = "NavSide">
        <div class="NavLL" >
        {% block meta_left %}
        {% endblock %}
        </div>
        <div class="NavL BigTextWrap">
            <a href = "{% url 'comic:authors' %}">AUTHORS</a> 
        </div>
    </div>

<!-- Search Form -->

    <div class="NavC BigTextWrap">
        l <a href = "{% url 'comic:forum' %}">FORUM</a> l
    </div>

<!-- Story Arc -->

    <div class="NavSide">
        <div class="NavR BigTextWrap">
             <a href = "{% url 'comic:archive' %}">GRAPH</a>
        </div>

        <div class="NavRR"> 
            {% block meta_right %}
            {% endblock %}
        </div>
    </div>

</div>

<!-- Navigation Bottom -->
<div class="divider"></div>

<div class="Navigation" id="botnav">
    <div class="NavSide"></div>

    <!-- Begin Ohnorobot.com Comic Transcription code for qtje -->
    <div class="SearchWrap">
        <div>
            <script language="JavaScript" type="text/javascript" src="http://www.ohnorobot.com/js/2151.js"></script>
            <script language="JavaScript" type="text/javascript"><!--
            transcribe('apXeQVg67lWtc2151');
            // -->
            </script>
        </div>
        <!-- End Ohnorobot.com code -->

        <!-- Begin Ohnorobot.com Comic Search Box for qtje -->


        <form action="http://www.ohnorobot.com/" method="get">
        <font size="2pt">
        <table border="0">
        <tr><td><input type="text" name="s" value="">
        <input type="hidden" name="comic" value="2151">
        <input type="submit" name="search" value="Search"></td><td align="center">Powered by <a href="http://www.ohnorobot.com/">OhNoRobot.com</a></td></tr>
        </table>
        </font>
        </form>
        <!-- End Ohnorobot.com code -->
    </div>

    <div class="NavSide"></div>
</div>

</div>
<!-- Forum Section TODO: Make this conditional -->

<div class="FooterBlock" id="forum-form">

{% block forum_form %}
{% endblock %}

</div>

<div class="FooterBlock">
    <div class="divider"></div>
</div>

<div class="FooterBlock" id="forum">

{% block forums %}
{% endblock %}

</div>

<div class="FooterBlock">
    <div class="divider"></div>
</div>
<!-- Disclaimer -->

<div class="FooterBlock" id="disclaimer" style="font-size:8px;">
Disclaimer: qtje  maintains no consistent or meaningful basis of sincerity, realism, causality, or morality. Readers are expected to use their own judgement in evaluating the content. These comics should not be taken as endorsements, nor should these characters be viewed as role models.<br>
The qtje forum is unmoderated, and qtje takes no responsibility for the nature of any user generated content it may contain.
</div>

<!-- The Rest -->
      </div>

    <div class="SideUnit">

    </div>
  </div></div>

</body>
</html>


