{% load static %}
<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN"
   "http://www.w3.org/TR/html4/strict.dtd">
<html>
  <head profile="http://www.w3.org/2005/10/profile">

<link rel="icon"
      type="image/gif"
      href="http://qtje.net/favicon.gif">

    <meta content="A webcomic of depression, sarcasm, irony, and ennui. Updates whenever." name=description>
    <meta content="qtje, webcomic, ironic" name=keywords>
    <meta http-equiv="Content-type" content="text/html;charset=UTF-8">
    <link href="{% static 'comic/style.css' %}" type="text/css" rel=stylesheet id = "style1">
    <title>
    qtje
    </title>
  </head>
<body>

<div id="HeaderWrapper"><div id="wrapper">
<div id="Header"><!--<a href="http://qtje.net"><img class="profile" src="banner.png"></a>--></div> 
<div id="Header2"> A webcomic of depression<br> sarcasm, irony, and ennui</div>
</div></div>
<div id="Updates">QTJE updates whenever I can drag myself out of bed.</div>

<div id="Background"><div id="content">

<div class="SideUnit">
</div>

<div id="OuterWrapper"> <div id="MainWrapper">

<!-- Navigation -->

<div id="Navigation">
<!-- Navigation Left Side -->

<div style="float:left; width:49%;">

<!-- RSS Feed -->

<div style="margin-right: 2px; font-size:0px;">
<!--  <a href="feed.xml">
    <img src = "rss.png" style="float:left;"/>
  </a>-->
</div>

<!-- First/Prev Links -->

  <div style="float:right;">
{% block left_links %}
&lt;&lt; <a class="nav" href="{}">FIRST</a> &lt; <a rel="prev" class="nav" href="{}" >PREV</a>
{% endblock %}
  </div>
</div>

<!-- Center divider -->
{% block center_links %}
  <div style="width: 2%;">
    l
  </div>   
{% endblock %}

<!-- Navigation Right Side -->

<div style="float:right; width:49%;">
  <div style="right:left;">
{% block right_links %}
<a rel="next" class="nav" href="{}">NEXT</a> &gt; <a class="nav" href="{}">CURR</a> &gt;&gt;
{% endblock %}
  </div>

<!-- Next Update -->

</div>

</div>


<!-- Main Body -->

<div id="Main">
<center>
{% block body %}
{% endblock %}
</center>
</div>

<!-- Navigation Bottom -->

<div id="bNavigation">
<a href = "{% url 'comic:authors' %}">AUTHORS</a> l <a href = "{% url 'comic:forum' %}">FORUM</a> l <a href = "{% url 'comic:archive' %}">GRAPH</a>
</div>


<!-- Bottom Bar -->

<div id="bNavigation">

<!-- Story Arc -->

<div style="float: left; text-align:left; font-size:13px; margin-right: 2px"> 
{% block meta_left %}
Story Arc:<br>
TODO: ARC
{% endblock %}
</div>

<!-- Search Form -->

<div style="margin: 0 auto; float: none; display: inline-block;">
<!-- Begin Ohnorobot.com Comic Transcription code for qtje -->
<div>
<script language="JavaScript" type="text/javascript" src="http://www.ohnorobot.com/js/2151.js"></script>
<script language="JavaScript" type="text/javascript"><!--
transcribe('apXeQVg67lWtc2151');
// -->
</script>
</div>
<!-- End Ohnorobot.com code -->

<!-- Begin Ohnorobot.com Comic Search Box for qtje -->
<div>
<form action="http://www.ohnorobot.com/" method="get">
<font size="2pt">
<table border="0">
<tr><td>Search qtje: <input type="text" name="s" value="">
<input type="hidden" name="comic" value="2151">
<input type="submit" name="search" value="Search"></td><td align="center">Powered by <a href="http://www.ohnorobot.com/">OhNoRobot.com</a></td></tr>
</table>
</font>
</form>
</div>
<!-- End Ohnorobot.com code -->
</div>

<!-- Story Arc -->

<div style="float: right; text-align:right; font-size:13px; margin-right: 2px"> 
{% block meta_right %}
{% endblock %}
</div>


</div>

<!-- Forum Section TODO: Make this conditional -->

<div id="forum">

<form action="post.php" method=post>
<input type="hidden" value="<?php print $return ?>" name="return">
comment: <input type="text" name="comment" size="108"> <input type="submit" value="post">
</form>
<br>

TODO: render forum here

</div>

<!-- Disclaimer -->

<div id="forum" style="font-size:8px;">
Disclaimer: qtje  maintains no consistent or meaningful basis of sincerity, realism, causality, or morality. Readers are expected to use their own judgement in evaluating the content. These comics should not be taken as endorsements, nor should these characters be viewed as role models.<br>
The qtje forum is unmoderated, and qtje takes no responsibility for the nature of any user generated content it may contain.
</div>

<!-- The Rest -->
      </div>

    <div class="SideUnit">

<!-- Project Wonderful Ad Box Code -->
<div id="pw_adbox_77010_3_0"></div>
<script type="text/javascript"></script>
<noscript><map name="admap77010" id="admap77010"><area href="http://www.projectwonderful.com/out_nojs.php?r=0&c=0&id=77010&type=3" shape="rect" coords="0,0,160,600" title="" alt="" target="_blank" /></map>
<table cellpadding="0" cellspacing="0" style="width:160px;border-style:none;background-color:#ffffff;"><tr><td><img src="http://www.projectwonderful.com/nojs.php?id=77010&type=3" style="width:160px;height:600px;border-style:none;" usemap="#admap77010" alt="" /></td></tr><tr><td style="background-color:#ffffff;" colspan="1"><center><a style="font-size:10px;color:#0000ff;text-decoration:none;line-height:1.2;font-weight:bold;font-family:Tahoma, verdana,arial,helvetica,sans-serif;text-transform: none;letter-spacing:normal;text-shadow:none;white-space:normal;word-spacing:normal;" href="http://www.projectwonderful.com/advertisehere.php?id=77010&type=3" target="_blank">Ads by Project Wonderful!  Your ad here, right now: $0</a></center></td></tr></table>
</noscript>
<!-- End Project Wonderful Ad Box Code -->

    </div>
  </div></div>

</body>
</html>


