{% extends "comic/base.html" %}
{% load static %}

{% block left_links %}
{% endblock %}

{% block center_links %}
<div class="BigTextWrap">
<a href = "{% url 'comic:help' 'quickstart' %}">Quickstart</a>
</div>
<!--
<div class="BigTextWrap">
<a href = "{% url 'comic:help' 'structure' %}">Comic Structure</a>
l
</div>
-->
{% endblock %}

{% block right_links %}<!--
<div class="BigTextWrap">
<a href = "{% url 'comic:help' 'customization' %}">Customization</a>
</div> -->
{% endblock %}

{% block nav_right %}
<div class="SmallTextWrap">
<a href = "{% url 'password_change' %}">Change<br>
Password</a>
</div>
{% endblock %}


{% block body %}
<div style='margin: 0px auto; width:800px'>
{{ content|safe }}
</div>
{% endblock %}


{% block meta_left %}
{% endblock %}

{% block meta_right %}
{% endblock %}


{% block forums %}
{% endblock %}


