{% extends "comic/base.html" %}

{% block extra_rss_links %}
<a>Feed for {{ object.owner.display_name }}</a>
{% endblock %}


{% block left_links %}
    {% for link in object.prev_links %}
        <div class="PixelWrap">
        <a class="navsym" href = "{% url 'comic:page' link.to_page.page_key %}?{{object.querystring}}" 
            title="{{ link.owner.display_name }}"
            >
            <svg viewBox="-1.732 -1 1.732 2" xml:space="preserve" height="30px">
            <polygon points="0,1, 0,-1, -1.732,0" />
            </svg>
        </a>
        </div>

    {% endfor %}
{% endblock %}

{% block center_links %}
<div>
        <div class="PixelWrap">
        <a class="navsym" href = "{% url 'comic:page' '0000'  %}">
            <svg viewBox="0 0 1 1" xml:space="preserve" height="30px">
            <polygon points="0,0, 0,1, 1,1, 1,0" />
            </svg>
        </a>
        </div> 
    {% for link in object.first_links %}
        <div class="PixelWrap">
        <a class="navsym" href = "{% url 'comic:page' link.to_page.page_key %}?{{object.querystring}}" 
            title="{{ link.owner.display_name }}"
            >
            <svg viewBox="0 0 1 1" xml:space="preserve" height="30px">
            <polygon points="0,0, 0,1, 1,1, 1,0" />
            </svg>
        </a>
        </div>
    {% endfor %}
</div>
{% endblock %}



{% block right_links %}
    {% for link in object.next_links %}
        <div class="PixelWrap">
        <a class="navsym" href = "{% url 'comic:page' link.to_page.page_key %}?{{object.querystring}}"
            title="{{ link.owner.display_name }}"
            >
            <svg viewBox="0 -1 1.732 2" xml:space="preserve" height="30px">
            <polygon points="0,1, 0,-1, 1.732,0" />
            </svg>
        </a>
        </div>
    {% endfor %}
{% endblock %}

{% block nav_right %}
<div class="SmallTextWrap">
Page Author:<br>
{{ object.owner.display_name }}
</div>
{% endblock %}


{% block body %}
{{ object.body }}
{% endblock %}


{% block meta_left %}
<div class="SmallTextWrap">
Story Arc:<br>
{{ object.arc.display_name }}
</div>
{% endblock %}

{% block meta_right %}
<div class="SmallTextWrap">
Last Modified: <br>
{{ object.created_at }}
</div>
{% endblock %}

{% block forums %}
<form action="post" method=post>
{% csrf_token %}
<input type="hidden" value="{{ request.get_full_path }}" name="return">
<input type="hidden" value="{{ object.page_key }}" name="source">
comment: <input type="text" name="comment" size="108" style="max-width:100%;"> 
<input type="submit" value="post">
</form>
<br>
    {% for post in object.forums %}
        <p>{{post.text}}</p>
    {% endfor %}
{% endblock %}


