{% extends "comic/base.html" %}

{% block extra_rss_links %}

{% if object.theme_values.extra_rss_links %}
    {{object.theme_values.extra_rss_links}}
{% else %}
    <a>Feed for {{ object.owner.display_name }}</a>
{% endif%}

{% endblock %}


{% block left_links %}
{% if object.theme_values.left_links %}
    {{object.theme_values.left_links}}
{% else %}
    {% for link in object.prev_links %}
        <div class="PixelWrap">
        <a class="navsym" href = "{% url 'comic:page' link.to_page.page_key %}?{{object.querystring}}" 
            title="{{ link.owner.display_name }}"
            >
            <svg viewBox="-1.732 -1 1.732 2" xml:space="preserve" height="30px">
            <polygon points="0,1, 0,-1, -1.732,0" />
            </svg>
        </a>
        </div>

    {% endfor %}
{% endif %}
{% endblock %}

{% block center_links %}
{% if object.theme_values.center_links %}
    {{object.theme_values.center_links}}
{% else %}
<div>
        <div class="PixelWrap">
        <a class="navsym" href = "{% url 'comic:page' '0000'  %}">
            <svg viewBox="0 0 1 1" xml:space="preserve" height="30px">
            <polygon points="0,0, 0,1, 1,1, 1,0" />
            </svg>
        </a>
        </div> 
    {% for link in object.first_links %}
        <div class="PixelWrap">
        <a class="navsym" href = "{% url 'comic:page' link.to_page.page_key %}?{{object.querystring}}" 
            title="{{ link.owner.display_name }}"
            >
            <svg viewBox="0 0 1 1" xml:space="preserve" height="30px">
            <polygon points="0,0, 0,1, 1,1, 1,0" />
            </svg>
        </a>
        </div>
    {% endfor %}
</div>
{% endif %}
{% endblock %}



{% block right_links %}
 {% if object.theme_values.right_links %}
    {{object.theme_values.right_links}}
{% else %}
 
    {% for link in object.next_links %}
        <div class="PixelWrap">
        <a class="navsym" href = "{% url 'comic:page' link.to_page.page_key %}?{{object.querystring}}"
            title="{{ link.owner.display_name }}"
            >
            <svg viewBox="0 -1 1.732 2" xml:space="preserve" height="30px">
            <polygon points="0,1, 0,-1, 1.732,0" />
            </svg>
        </a>
        </div>
    {% endfor %}
{% endif %}
{% endblock %}

{% block nav_right %}
{% if object.theme_values.nav_right %}
    {{object.theme_values.nav_right}}
{% else %}

<div class="SmallTextWrap">
{{ object.title }}<br>
{% if object.owner.is_conflicted %}
<span title="This author name is used by multiple authors">&#x26A0;</span>
{% endif %}
{{object.owner.display_name}} 
</div>

{% endif %}

{% endblock %}


{% block body %}
{% if object.body %}
    {{ object.body }}
{% else %}
<img src="{{ object.image.url }}" title="{{ object.alt_text }}"></img>
{% endif %}
{% endblock %}


{% block meta_left %}
{% if object.theme_values.meta_left %}
    {{object.theme_values.meta_left}}
{% else %}

<div class="SmallTextWrap">
Story Arc:<br>
{{ object.arc.display_name }}
</div>
{% endif %}
{% endblock %}

{% block meta_right %}
{% if object.theme_values.meta_right %}
    {{object.theme_values.meta_right}}
{% else %}

<div class="SmallTextWrap">
Page Posted: <br>
{{ object.first_version.created_at|date:'Y-m-d'}}
</div>
{% endif %}
{% endblock %}

{% block forum_form %}
<form action="post" method=post style="width:100%">
    <div class="ForumForm">
        {% csrf_token %}
        <input type="hidden" value="{{ request.get_full_path }}" name="return">
        <input type="hidden" value="{{ object.page_key }}" name="source">
        <div>comment:</div>
        <input type="text" name="comment" size="10" style="flex-grow:1; margin-right:2px; margin-left:2px"> 
        <input type="submit" value="post">
    </div>
</form>
{% endblock %}



{% block forums %}
    {% for post in object.forums %}
        <p>{{post.text}}</p>
    {% endfor %}
{% endblock %}


