{% extends "comic/base.html" %}


{% block left_links %}
{% endblock %}

{% block center_links %}
<div class="BigTextWrap">
New Page
</div>
{% endblock %}

{% block right_links %}
{% endblock %}

{% block nav_right %}
{% endblock %}


{% block body %}
<table class = "ListTable">
<tr>
{% for header in table_map.header %}
<td>{{header}}</dr>
{% endfor %}
<td></td>
</tr>
{% for row in table_map.rows %}
<tr>
    {% for value in row %}        
        <td>{{value|truncatechars:40}}</td>
    {% endfor %}
    <td>Edit</td>
</tr>
{% endfor %}
</table>
{% endblock %}


{% block meta_left %}
{% endblock %}

{% block meta_right %}
{% endblock %}


{% block forums %}
{% endblock %}


