{% extends "comic/base.html" %}


{% block left_links %}
{% endblock %}

{% block center_links %}
<div class="BigTextWrap">
    <a href = "{% url new_url %}">
        {{new_link_text}}
    </a>
</div>
{% endblock %}

{% block right_links %}
{% endblock %}

{% block nav_right %}
{% endblock %}


{% block body %}
<table class = "ListTable">
<tr>
{% for header in table_map.header %}
<td>{{header}}</dr>
{% endfor %}
<td></td>
</tr>
{% for row in table_map.rows %}
<tr>
    {% for value in row.row_data %}
        <td>
        {% if forloop.first %} <a href="{% url view_url row.view_key %}"> {% endif %}
        {{value|truncatechars:40}}
        {% if forloop.first %} </a> {% endif %}
        </td>
    {% endfor %}
    <td>
    <a href = "{% url edit_url row.edit_key %}">
        Edit
    </a>
    </td>
</tr>
{% endfor %}
</table>
{% endblock %}


{% block meta_left %}
{% endblock %}

{% block meta_right %}
{% endblock %}


{% block forums %}
{% endblock %}


