{% extends "comic/base.html" %}


{% block left_links %}
{% endblock %}

{% block center_links %}
<div class="BigTextWrap">
Creating new page
</div>
{% endblock %}

{% block right_links %}
{% endblock %}

{% block nav_right %}
{% endblock %}


{% block body %}
<form class="AuthorForm" method="post" action="{% url 'comic:edit_page' form.page_key.value %}" >
{% csrf_token %}

{% if form.non_field_errors %}
<div class="AuthorFormDivider AFFormError">
{{ form.non_field_errors }}
</div>
{% endif %}

<div class="AFLabel">
    <label for="{{form.page_key.id_for_label}}">Page</label>
</div>
<div class="AFField">
    {{form.page_key.value}}
    <span title="When a page is created, it will use the next available page number. This value is the next available page number at the time this page was loaded, but might not be at the time of submission">&#x24D8;</span>
    {{form.page_key}} 
</div>

{% include 'comic/grid_field.html' with field=form.owner label="Alias" %}
{% include 'comic/grid_field.html' with field=form.image label="Image" %}
{% include 'comic/grid_field.html' with field=form.title label="Title" %}
{% include 'comic/grid_field.html' with field=form.alt_text label="Alt Text" %}
{% include 'comic/grid_field.html' with field=form.arc label="Story Arc" %}

<div class="AuthorFormDivider"></div>


<div class="AFLabel {% if field.errors %} AFFormError {% endif %}">
   {% include 'comic/field_error.html' with errors=form.prev_page_owner.errors %} 
    <label for="{{form.prev_page_owner.id_for_label}}" {% if form.prev_page_owner.errors %} class="AFFormError" {% endif %}>Previous Page</label>
</div>
<div class="PageFormLinkField">
    <div class="AFField">
       {{ form.prev_page_owner }}

    </div>
    <div>
       {{ form.reciprocate_owner}}
    <label for="{{form.reciprocate_owner.id_for_label}}">Reciprocate</label> 
    <span title="A reciprocal 'next' link will be created from the previous page to this page. If this box is not checked, then the specified previous page will not link to this page.">&#x24D8;</span>
    </div>
 
</div>


<div class="AuthorFormDivider"></div>

{% include 'comic/grid_field.html' with field=form.template label="Template" %}
{% include 'comic/grid_field.html' with field=form.theme label="Theme" %}
{% include 'comic/grid_field.html' with field=form.transcript label="Transcript" %}


<div class="AuthorFormDivider">

<center>
    <input type="submit" value="Create Page">
</center>

</div>

</form>
{% endblock %}


{% block meta_left %}
{% endblock %}

{% block meta_right %}
{% endblock %}


{% block forums %}
{% endblock %}


