{% extends "comic/base.html" %}

{% block center_links %}
<div class = "BigTextWrap">
{% if header %}
{{ header }}
{% else %}
Password Reset
{% endif %}
</div>
{% endblock %}


{% block body %}

<center>
{{ information }}
{% if validlink == False %}
Not a valid link.
{% endif %}
{% if reset_done %}
Your password has been reset. <a href = "{% url 'comic:login' %}">Click here to log in</a>
{% endif %}
</center>

{% if form %}
<center>
<form method="post">
{% csrf_token %}
{{ form.as_p }}

{% if button %}
<input type="submit" value="{{ button }}">
{% else %}
<input type="submit" value="Reset">
{% endif %}
<input type="hidden" name="next" value="{{ next }}">
</form>
</center>
{% endif %}

{% endblock %}


